In [59]:
import sqlite3
import pandas as pd

In [60]:
file = open('emails.txt')
fhandler = file.readlines()
emails_list = []
for lines in fhandler:
    if lines.startswith('From'):
        line = lines.split()
        emails_list.append(line[1])

In [61]:
db_emails = pd.DataFrame(emails_list)
db_emails.head()

                            0
0  stephen.marquard@uct.ac.za
1  stephen.marquard@uct.ac.za
2    louis@media.berkeley.edu
3    louis@media.berkeley.edu
4             zqian@umich.edu

In [62]:
count = db_emails[0].value_counts()
count

zqian@umich.edu                  390
mmmay@indiana.edu                322
cwen@iupui.edu                   316
chmaurer@iupui.edu               222
aaronz@vt.edu                    220
ian@caret.cam.ac.uk              192
jimeng@umich.edu                 186
rjlowe@iupui.edu                 180
dlhaines@umich.edu               168
david.horwitz@uct.ac.za          134
ajpoland@iupui.edu                96
gjthomas@iupui.edu                88
wagnermr@iupui.edu                88
sgithens@caret.cam.ac.uk          86
ray@media.berkeley.edu            64
stephen.marquard@uct.ac.za        58
nuno@ufp.pt                       56
gsilver@umich.edu                 56
josrodri@iupui.edu                56
arwhyte@umich.edu                 54
bkirschn@umich.edu                54
gopal.ramasammycook@gmail.com     50
louis@media.berkeley.edu          48
csev@umich.edu                    38
antranig@caret.cam.ac.uk          36
stuart.freeman@et.gatech.edu      34
ostermmg@whitman.edu              34
zach.thomas@txstate.edu           34
kimsooil@bu.edu                   28
a.fish@lancaster.ac.uk            28
ktsao@stanford.edu                24
mbreuker@loi.nl                   18
jzaremba@unicon.net               18
lance@indiana.edu                 16
ggolden@umich.edu                 16
john.ellis@rsmart.com             16
hu2@iupui.edu                     14
tnguyen@iupui.edu                 12
knoop@umich.edu                   10
ssmail@indiana.edu                10
bahollad@indiana.edu               8
gbhatnag@umich.edu                 6
jleasia@umich.edu                  4
thoppaymallika@fhda.edu            2
colin.clark@utoronto.ca            2
jlrenfro@ucdavis.edu               2
Name: 0, dtype: int64

In [63]:
emails_available = pd.DataFrame(count)
emails_available.head()

                      0
zqian@umich.edu     390
mmmay@indiana.edu   322
cwen@iupui.edu      316
chmaurer@iupui.edu  222
aaronz@vt.edu       220

In [64]:
emails_available.reset_index(inplace=True)
emails_available.head()

                index    0
0     zqian@umich.edu  390
1   mmmay@indiana.edu  322
2      cwen@iupui.edu  316
3  chmaurer@iupui.edu  222
4       aaronz@vt.edu  220

In [65]:
emails_available.rename(columns={'index':'emails',0:'counts'},inplace=True)
emails_available.head()

               emails  counts
0     zqian@umich.edu     390
1   mmmay@indiana.edu     322
2      cwen@iupui.edu     316
3  chmaurer@iupui.edu     222
4       aaronz@vt.edu     220

In [66]:
con = sqlite3.connect('email.db')
cur = con.cursor()